*{
margin: 0;
padding: 0;
box-sizing: border-box;


}


h1{
    
    text-align:  center;
    background-color: black;
    color: white;
    padding: 20px;

}
@font-face {

    font-family: new_fuente;
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}
body{

    font-family: new_fuente;
    background-image: url('../images/fondo.jpg');


}

.form-registro{

    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius:4px ;
   
    color: white
    

}

.form-registro h4 {
font-size: 22px;
margin-bottom: 20px ;

}
.control{

width: 100%;
background: #24303c;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;

border: 1px solid #1f53c5;

font-size: 18px;
color: white;

}

.form-registro p{

height: 40px;
text-align: center;
font-size: 14px;
line-height: 40px;

}

.form-registro a{

color: white;
text-decoration:none;

}

.form-registro a:hover {

 color: white;
 text-decoration:underline;


}
.form-registro .boton{
  
width: 100%;
background: #1f53c5;
border:none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
}